@{
    ViewData["Title"] = "Register and Login Page";
}
<style>
    .jumbotron{
        margin-top:20px;
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Dojo Activity Center!</h1>
</div>

<div class="row">
    <div class="col-sm-8">
        <partial name="_Register.cshtml" />
    </div>
    <div class="col-sm-4">
        <partial name="_Login.cshtml" />
    </div>
</div>